<form id="form" action="/login" method="POST">

 
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Elon">


  
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="**********">
 

    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Sign in</button>  

    <p class="account-message">
        Don't have an account? <a href="/signup">Sign me up!</a> 
    </p>

</form>