<form action="/user/update/{{user._id}}" method="post">
  <label for="">email:</label>
  <input type="text" name="email" value="{{user.email}}">

  <label for="">username:</label>
  <input type="text" name="username" value="{{user.username}}">

  <label for="">image url:</label>
  <input type="text" name="image" value="{{user.image}}">

  <button type="submit">EDIT</button>
</form>