<form action="/user/edit" method="post">
  <label for="">email:</label>
  <input type="text" name="email">

  <label for="">Author:</label>
  <input type="text" name="username">

  <label for="">Description:</label>
  <input type="text" name="password">

  <label for="">image url:</label>
  <input type="number" name="image">

  <button type="submit">EDIT</button>
</form>