<h1>{{title}}</h1>

<h2>MISSION STATEMENT</h2>

<h4>To create excitement and inspire future generations to make humans an interplanetary species.</h4>

<h5>Sign up to follow the latest SpaceX Launches and News</h5>


<div class="button">
  <button onclick="location.href='/login'" type="button">LOGIN</button>
  <button onclick="location.href='/signup'" type="button">SIGN UP</button>
</div>