<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>


  {{#if currentUser}}
  <nav>
    <h1>
      WHITESTAR
    </h1> 
    <ul>
      <li><a href="/logout">LOGOUT</a></li>
      <li><a href="/user/edit/{{currentUser._id}}">EDIT</a></li>
      <li><a href="/news">NEWS</a></li>
      <li><a href="/rockets">ROCKETS</a></li>
      <li><a href="/missions">MISSIONS</a></li>
      <li><a href="/map">MAP</a></li>
      {{!-- <li><a href="/nasa">NASA</a></li> --}}
    </ul>
  </nav>
  {{/if}}



  {{{body}}}



  
</body>

</html>