/* FOR THE MISSION API  */

* {
  box-sizing: border-box;
}

body {
  font: 14px "Lora", Helvetica, Arial, sans-serif;
  color: white;
  background: url("../images/space-is-essential.jpeg") no-repeat center center fixed;
  background-size: cover;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #dedede;
}

button {
  font-family: inherit;
  font-size: 11px;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 3px 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 50px auto 0;
  padding: 10px;
  border-radius: 20px;
/*   background-color: rgba(88, 98, 123, 0.95); */
  text-align: center;
}

.news-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.active {
  background-color: #42f471;
}

.operations {
  margin: 0 auto;
  padding: 5px;
}

.operation {
  margin: 20px 0 0;
}

.news-info {
  position: relative;
  width: 71%;
  height: 500px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border: solid white 2px;
  border-radius: 20px;
}

.news-info div span {
  color: #dedede;
  position: absolute;
  left: 50%;
}

.form-container {
  display: inline-block;
  width: 49%;
  margin: 30px auto 0;
  vertical-align: top;
}

img {
  max-width: 100%;
}

a {
  color: red;
}

