body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/02/OSIRIS_Mars_true_color.jpg");
  background-size: cover;
  background-position: center;
}

.rocket-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .rocket-container {
    flex-direction: column;
    align-items: center;
  }
}



.f1, .f9, .fh, .bfr {
  text-align: center;
  color:#9c0c0c;
}

.btn {
  background-color: #9c0c0c;
}