<div class="spacexCountdown">
  <h2>NEXT LAUNCH COUNTDOWN</h2>

</div>


<form id="searchForm">


          <h3>Search Launches</h3>

        <input type="text" id="rocket-name">

        <button>Submit</button>
</form>


<a class="twitter-timeline" href="https://twitter.com/SpaceX?ref_src=twsrc%5Etfw">Tweets by SpaceX</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<a class="twitter-timeline" href="https://twitter.com/elonmusk?ref_src=twsrc%5Etfw">Tweets by elonmusk</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>