<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/mission-style.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>Missions</title>
</head>
<body>
  <section class="container">
    <h1>Space X Missions</h1>
    <div class="missions-container">
      <div class="mission-info">
        <div class="name"></div>
        <div class="wikipedia"></div>
        <div class="twitter"></div>
        <div class="description"></div>
      </div>
    </div>
    <section class="operations">
      <div class="operation">
        <button id="fetch-missions">Fetch all</button>
      </div>
      <div class="operation">
        <label for="mission-id">Search by Mission ID: </label>
        <input type="text" name="mission-id">
        <button id="fetch-mission">Fetch one</button>
      </div>


    </section>
  </section>

  <script type="text/javascript" src="/javascripts/spacexAPIHandler.js"></script>
  <script type="text/javascript" src="/javascripts/missionIndex.js"></script>
</body>
</html>
